{% extends "base.html" %}
{% block title %}Flask Notes{% endblock %}
{% block content %}
    <div id="home_page_title">
        <h1><b>Flask Notes.</b></h1>
        <h2>A web-based note-taking app made with Flask and Bootstrap</h2>
    </div>

    <div id="home_page_buttons">
      <!-- TODO: Add link to GitHub repository source code button -->
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Source Code</a>
        <a href="/register" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Get Started</a>
    </div>


{% endblock %}