{% extends "base.html" %}
{% block title %}Add Note{% endblock %}
{% block content %}
    <div class="addnote-form-container">
        <form method="post" action="/add-note">
            <h2>Add note</h2>
            <!-- CSRF Protection -->
            {{ form.csrf_token }}

            <!-- Title input-->
            <div class="form-group">
                {{ form.title.label(class="form-label", for="addnote-title") }}
                {{ form.title(class="form-control", id="addnote-title", placeholder="Enter title") }}
            </div>

            <!-- Content input-->
            <div class="form-group">
                {{ form.content.label(class="form-label", for="addnote-content") }}
                {{ form.content(class="form-control", id="addnote-content", placeholder="Enter content") }}
            </div>

            <!-- Submit/Add note button -->
            <button type="submit" class="btn btn-primary">Add</button>

            <!-- Cancel button -->
            <a class="btn btn-primary" href="{{ url_for('user_views.dashboard', username=current_user.username) }}"
               role="button">Cancel</a>
        </form>
    </div>

{% endblock %}
